[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
djangorestframework = "*"
django = "*"
drf-spectacular = "*"
requests = "*"
djangorestframework-simplejwt = "*"
django-allauth = "*"
dj-rest-auth = "*"

[dev-packages]

[requires]
python_version = "3.13"
